
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gotham A", "Gotham B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #272727;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

nav {
  background-color: #d2d2d2;
  height: 40px;
  transition-duration: 600ms;
  display: flex;
  box-sizing: content-box;
}

nav .navItem {
  height: 100%;
  flex-grow: 1;
  display: inline-block;
  flex: 1 0 20%;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

nav .navItem .navText {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  position: relative;
  left: -100%;
  transform: translateX(100%);
}

.carousel .slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 100%;
  display: inline-block;
  transition-duration: 600ms;
  box-sizing: content-box;
}

.active {
  color: #ffffff;
}

.inactive {
  color: #d2d2d2;
}

.detailsSection {
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .9);
  -moz-osx-font-smoothing: grayscale;
}

.detailsSection .detailsHeading {
  margin-bottom: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 200%;
  color: #ffffff;
  cursor: pointer;
}

.arrow.left {
  left: 2%;
}

.arrow.right {
  right: 2%;
}

.arrow > .material-icons {
  font-size: 200%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .9);
  -moz-osx-font-smoothing: grayscale;
}